<nav>
    <a routerLink="/game">Игра</a>
    <a routerLink="/rules">Правила</a>
</nav>
<hr>
<h2>game works!</h2>
<div class="form-control-lg">
    <h6>Добро пожаловать и успехов {{player.name}} !</h6>

    <form #gameForm="ngForm" (ngSubmit)="onSubmitForm(gameForm)">

        <div>Ваш баланс: {{player.balance}}</div>

<!--дописать валидаторы --- чтоб вводились только числа, и число не превышало баланса -->
        <label>Ваша ставка</label><input name="bet" [(ngModel)]="bet" required/>
        <button type="submit">Кинуть кости</button>
    </form>
    <div *ngIf=isThrow>
        <strong>Выпавшая комбинация:</strong>
        <p>Первый кубик = {{craps1}}</p>
        <p>Второк кубик = {{craps2}}</p>
        <p>Сумма чисел = {{total}}</p>
        <p>Итог раунда - </p>
    </div>
</div>
