<nav>
    <a routerLink="/game" routerLinkActive="active">Игра</a>
<!--    так, как сделано ниже - не работает, т.к. у тега <a> нет такого свойства, нужно найт альтернативный вариант     -->
<!--    <a routerLink="/rules" routerLinkActive="active" [disabled]="isPointGame">Правила</a>-->
    <a routerLink="/rules" routerLinkActive="active">Правила</a>
    <a routerLink="/" routerLinkActive="active">Начать сначала</a>
</nav>
<hr>
<div class="form-control-lg">

    <div id="testContent" class="myStyle">

      <script>
        alert( elem.getAttribute('testContent') ); // (1) 'Elephant', атрибут получен

        var attrs = elem.attributes; // (4) можно получить коллекцию атрибутов
        for (var i = 0; i < attrs.length; i++) {
          alert( attrs[i].name + " = " + attrs[i].value );
        }
      </script>

        <h2>Добро пожаловать и успехов {{player.name}} !</h2>
        <br>
    </div>

    <form #gameForm="ngForm" (ngSubmit)="onSubmitForm(gameForm)">

        <div>Ваш баланс: {{player.balance}}</div>

        <label>Ваша ставка</label>
        <input name="bet" [(ngModel)]="bet" required pattern="^[1-9]\d*$" resetInput [disabled]="isPointGame" />
        <button type="submit" [disabled]="isPointGame || gameForm.invalid || incorrectBet ">Кинуть кости</button>
        <div class="alert alert-danger"
            *ngIf="incorrectBet">
                Неверно введена ставка! Введите сумму не превыщающую ваш баланс!
        </div>
    </form>

    <div *ngIf="isThrow">
        <strong>Выпавшая комбинация:</strong>
        <p>Первый кубик = {{craps1}}</p>
        <p>Второк кубик = {{craps2}}</p>
        <p>Сумма чисел = {{total}}</p>
    </div>

<!--    Вывод поздравления     -->
    <div class="win" *ngIf="(!isPointGame) && (userWin) && (isThrow)">
        {{win}}
        <button type="submit" (click)="onGameResult()">ОК</button>
    </div>

<!--    Вывод сожаления о проигрыше-->
    <div class="loss" *ngIf="(!isPointGame) && (!userWin) && (isThrow)">
        {{loss}}
        <button type="submit" (click)="onGameResult()">ОК</button>
    </div>

<!--    Здесь будет дочерний компонент в котором будет осуществляться поинтГейм     -->
    <div *ngIf="isPointGame">
        <app-pointgame [isPointGame]="isPointGame" [point]="point" (outputToParent)="GetOutputVal($event)"> </app-pointgame>
    </div>
</div>
